<footer class="footer py-5 border-top bg-white">
  <div class="container px-4 px-md-0">
    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-start">
        <h2 class="fw-bold mb-0">SAHIL SHEKH</h2>
      </div>
      <div class="col-md-6 text-center text-md-end mt-4 mt-md-0">
        <p class="copyright mb-0 text-muted">© 2026 SAHIL SHEKH. All Rights Reserved.</p>
        <div class="social-links mt-3 d-flex justify-content-center justify-content-md-end gap-3">
          <a href="https://github.com/sahilshekh541" target="_blank" rel="noopener noreferrer"
            aria-label="Redirect to github" class="text-muted"><img
              src="https://img.icons8.com/ios-filled/24/71717a/github.png" alt="Github" width="20"></a>
          <a href="https://www.linkedin.com/in/sahil-shekh541" target="_blank" rel="noopener noreferrer"
            aria-label="Redirect to linkedin profile" class="text-muted"><img
              src="https://img.icons8.com/ios-filled/24/71717a/linkedin.png" alt="Linkedin" width="20"></a>
        </div>
      </div>
    </div>
  </div>
</footer>