:root {
    --primary: #010407;
    /* Emerald 500 */
    --secondary-status-color: oklch(72.3% .219 149.579);
    --bg-light: #fafafa;
    --text-dark: #18181b;
    --text-light: #f5f5f5;
    --text-muted: oklch(70.5% .015 286.067);
    --zinc-500: oklch(55.2% .016 285.938);
    --zinc-400: oklch(70.5% .015 286.067);
    --border: #e4e4e7;
    --font-family: 'Sora', sans-serif;
}