@import './assets/css/variables.css';

html {
    scroll-behavior: smooth;
}



body {
    background-color: var(--bg-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    font-family: var(--font-family) !important;
    color: var(--text-dark) !important;
}

/* common classes */
.mt-80px {
    margin-top: 80px !important;
}

.my-60px {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}

.section-title {
    font-size: 48px !important;
    font-weight: 800 !important;
    line-height: 1.2 !important;
}

@media screen and (max-width: 991px) {
    .section-title {
        font-size: 38px !important;
    }
}

@media screen and (max-width: 767px) {
    .section-title {
        font-size: 32px !important;
    }
}

@media screen and (max-width: 480px) {
    .section-title {
        font-size: 28px !important;
    }
}

.section-title-text-secondary {
    color: var(--primary);
}

/* breadcrumb */
.breadcrumb-item>a {
    color: var(--link-text-color) !important;
}